body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: antiquewhite;
}

canvas {
  background-color: antiquewhite;
  border-radius: 20px;
}

h1 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

#credit {
  margin-bottom: 1em;
}